/* Sticky footer styles
-------------------------------------------------- */
html
  position relative
  min-height 100%

body
  /* Margin bottom by footer height */
  margin-bottom 60px

#footer
  position absolute
  bottom 0
  width 100%
  /* Set the fixed height of the footer here */
  height 60px
  background-color #f5f5f5

/* Custom page CSS
-------------------------------------------------- */

body > .container
  padding 60px 15px 0

.container .text-muted
  margin 20px 0

#footer > .container
  padding-right 15px
  padding-left 15px

code
  font-size 80%


/* CUSTOM CSS FOR NEW APP
-------------------------------------------------- */

.main-content
  margin-top 60px

a.active
  color #555
  cursor default
  background-color #e7e7e7
  border 1px solid #ddd
  border-bottom-color transparent

.new-comment-text
  color #999

#comment-text-area
  height 34px

.product-description
  text-align justify

.read-more
  color Red

.is-expanded
  color Green

.edit-artist
  margin-top 20px
  text-align left
  font-size 1.3em

.btn-margin-left30
  margin-left 30px

.btn-margin-top10-bottom10
  margin-top 10px
  margin-bottom 10px
