/* Sticky footer styles
-------------------------------------------------- */
html
  position relative
  min-height 100%

body
  /* Margin bottom by footer height */
  margin-bottom 80px

#footer
  position absolute
  bottom 0
  width 100%
  /* Set the fixed height of the footer here */
  height 80px
  background-color #f6f6f6
  padding-top 15px

/* Custom page CSS
-------------------------------------------------- */

body > .container
  padding 60px 15px 0

.container .text-muted
  margin 20px 0

#footer > .container
  padding-right 15px
  padding-left 15px

code
  font-size 80%


/* CUSTOM STYLES - MAIN 
-------------------------------------------------- */

.main-container
  padding-right -15px
  background-color #f6f6f6

.main-content
  margin-top 52px
  padding 40px
  border 1px solid #a7d7f9
  border-right-width 0px
  background-color #fff

.navbar-default
  background-color #f6f6f6
  background-image linear-gradient(#fff 50%, #f6f6f6 100%)
  border 0

.grand-title
  text-align center
  padding-top 7px
  padding-bottom 0

.grand-title > a
  font-size 32px
  font-family 'Gilda Display', serif
  color #5e5e5e
  text-align center

.grand-title > a:focus
  color #5e5e5e

.grand-title > a:hover, .grand-title > a:focus
  text-decoration none

.footer-right
  text-align right

.footer-left
  text-align center


// OTHERS CUSTOM STYLES

a.active
  color #555
  cursor default
  background-color #e7e7e7
  border 1px solid #ddd
  border-bottom-color transparent

.new-comment-text
  color #999

#comment-text-area
  height 34px

.product-description
  text-align justify

.read-more
  color Red

.is-expanded
  color Green

.edit-artist
  margin-top 20px
  text-align left
  font-size 1.3em

.btn-margin-left30
  margin-left 30px

.btn-margin-top10-bottom10
  margin-top 20px
  margin-bottom 20px
